body {
  background-color: darkgray;
  text-align: center;
}

.board {
  margin: auto;
  height: 30rem;
  width: 30rem;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.square {
  height: 9rem;
  width: 9rem;
  border: 1px solid black;
  padding: 1px;
  font-size: 60px;
  text-align: center;
  background-color: brown;
}

.pylpyra {
  margin: auto;
  padding: auto;
  height: 100%;
}